<section class="dashboard-page">
  <div class="container">
    <div class="dashboard-card">
      <div class="dashboard-grid">
        <div class="profile-shortcut custom-card">
          <app-profile></app-profile>
        </div>
        <div class="local-groups custom-card">
          <app-local-groups></app-local-groups>
        </div>
        <div class="leaderboard custom-card">Leaderboard</div>
        <div class="update1 custom-card">Update</div>
        <div class="news custom-card">News</div>
        <div class="update2 custom-card">Update</div>
      </div>
    </div>
  </div>
</section>
