.custom-card {
  background: var(--background-color);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.leaderboard-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
} 